body {
    background-color: #F8F6F7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.btn-outline-primary {
    color: #34d898 !important;
    border-color: #34d898 !important;
}

.heigh-100 {
    height: 100vh;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited, .btn.active {
    color: #fff !important;
    background-color: #34d898 !important;
    border-color: #34d898 !important;
}

.btn-outline-primary:focus, .btn-outline-primary:focus-visible {
    box-shadow: 0 0 0 .1rem #34d898;
    background-color: #fff;
    color: #34d898;
}

.cursor-pointer {
    cursor: pointer;
}

.form-bio {
    position: relative;
    bottom: 50px;
}


.bg-login {
    background: rgb(67,215,150);
    background: linear-gradient(90deg, rgba(67,215,150,1) 0%, rgba(21,213,174,1) 100%);
}

.title-white {
    color: white;
    text-shadow: 1px 2px 1px #0000007d;
}

.title-green {
    color: #33a372;
    text-shadow: 1px 1px 1px #0000003b;
}

.btn-picture {
    position: relative;
    left: 60%;
    background-color: white;
    border: 3px solid #34d898;
    border-radius: 40%;
}

.smaller {
    font-size: smaller;
}

.text-left {
    text-align: left;
}

.login-container {
    text-align: center;
}

.login-container h2 {
    font-size: 24px;
    color: #34d898;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 25px;
    padding: 10px 20px;
}

.form-control:focus {
    box-shadow: none;
}

.profile-pic {
    border-radius: 50%;
    width: 50%;
    height: 170px;
    border: 6px solid #43d796;
}

.btn-primary {
    background-color: #1cce89;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0px 3px 0px 0px #4c4c4ca3;
    margin-top: 10px;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus-visible {
    background-color: #07b371 !important;
    box-shadow: 0px 3px 0px 0px #3e3e3ea3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem #34d898
}

.form-text {
    text-align: right;
    color: #34d898;
}

.form-text a {
    color: #34d898;
    text-decoration: none;
}

.form-text a:hover {
    text-decoration: underline;
}

.w-100{
    width: 100%;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.color-white {
    color: white !important;
}

.color-black {
    color: black !important;
}

.register-link a:hover {
    text-decoration: underline;
}

.container {
    max-width: 400px;
    margin-top: 50px;
}
.logo {
    width: 50%;
    height: 100%;
}
.logo-small {
    width: 30%;
    height: 100%;
}
.btn-cuisine {
    margin: 5px;
}
.btn-advance {
    width: 100%;
    margin-top: 20px;
}
